@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    
}


#home {
    font-family: 'Ubuntu', sans-serif;
}





/* =============== Projects Section style start ================ */

.description {
    margin: 0 auto;
    max-width: 45ch;
}

.prj-image img {
    border-radius: 18px;
}



.site-btn,
.code-btn{
    border: 1px solid cyan;
    border-style: groove;
    border-radius: 12px;
    padding: 4px;
    background-color: rgba(128, 128, 128, 0.177);
    font-size: 15px;
    font-weight: 600;
}

.site-btn:hover,
.code-btn:hover {
    background-color: orange;
}





/* =============== Projects Section style end ================ */







/* =============== Form Section style start ================ */

input::placeholder, textarea::placeholder{
    color: red;
    opacity: calc(30%);
    font-size: larger;
    font-family: 'Ubuntu', sans-serif;

}

.submit-button {
    margin: 0 auto;
    width: 10rem;
}


/* =============== Form Section style end ================ */


/* ======== Underline Design to Page title starts here ========= */

section .title span::before,
section .title span::after{
  
    content:" ";
    background-color: orange;
    position: absolute;
    height: 3px;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);

}

/* ======== Underline Design to Page title ends here ========= */


/* ========== Download CV Button style starts here ============== */

.CV-button { 
    display: flex;
    justify-content: center;
    margin-top: 16px;
    
}

.CV-button span {
    height: 100px;
    position: relative;
    margin-right: 225px;
    
}

.download-button svg {
    /* background-color: blue; */
    position: absolute;
    width: 170px;
    height: 40px;
    top: -2px;
    right: -7px;
    stroke: red;
    stroke-width: 2;
}

.download-button {
    color: red;
    cursor: pointer;
    line-height: 2.5rem;
    transition: all 1s ease-in;  
   
}

.download-button:hover {
    color:aqua;
}

.download-button rect {
    fill: none;
    stroke: red;
    stroke-width: 2;
    stroke-dasharray: 500, 0;
    transition: all 0.5s linear;  
}

.download-button:hover rect {
    stroke-width: 5;
    stroke-dasharray: 20, 300;
    stroke-dashoffset: 50;
    stroke: orange;
    transition: all 2s cubic-bezier(0.22, 1, 0.25, 0)
}

/* ========== Download CV Button style ends here ============== */


/* ============ Media Queries starts here ============== */

@media (min-width: 1024px) {

    #home {
        background-attachment: fixed;
        background-position: center !important;
        background-position-y: calc(-65%) !important;
        background-size: cover ;
        height: 90vh !important;
        width: 100%;
    }

}

@media (min-width: 320px) {

    #home {
        background-position-x: calc(92%);
    } 
}

@media (min-width: 375px) {

    #projects {
        
      margin-left: 2%;
        
     }
}


@media screen and (max-width: 768px) {
    
    #about {
        width: auto;
        margin-left: 25px;
        margin-right: 25px;
       
    }

    .image {
        /* margin-top: 65px; */
        height: fit-content;
    }    
}

@media only screen and (min-width: 425px) {
     
    #projects {
        
        margin-left: 35px;
        margin-top: 50px;
     }
 
}

@media only screen and (max-width: 780px) and (min-width: 481px) {
        
    .project-1 {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 767px) {
    .project-1 {

        margin-left: 50px;
    }
}

@media only screen and (max-width:768px) {

    .download-button{
        display: none;
        width: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .prj-description {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .prj-container {
        max-width: 230px;
        height: 80px;
        margin-bottom: -30px;
       
        
    }
}

@media only screen and (min-width: 1024px) {

    .prj-container {
        max-width: fit-content;
        height: 100px;
    }
}



@media only screen and (min-width: 1024px) {
    .prj-description {
        font-size: 20px;
    }
}

/* ============ Media Queries ends here ============== */

